extends layout

block content
  h1= title
  p Welcome to #{title}

  img(src= prefix + '/img/DSC_0055.JPG', style='width:400px;')
  br
  br
  img(src= prefix + '/img/DSC_0056.JPG', style='width:400px;')
  br
  br
  img(src= prefix + '/img/DSC_0057.JPG', style='width:400px;')